@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
    margin: 0;
}
* {
    font-family: "Open Sans" !important;
}
nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(62, 62, 62);
    padding: 1rem 3rem;
}
nav > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(62, 62, 62);
    border: 1px solid white;
    border-color: white;
    padding: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-around;
}
div > img {
    width: 100%;
    height: 30%;
}
article > img {
    width: 100%;
    object-fit: cover;
}
.hero {
    background: url(layout-01-assets/img11.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    & > h1 {
        text-transform: uppercase;
    }
    text-shadow: 1em 1em 1em;
}
.services{
    background: url(layout-01-assets/img13.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 30vh;
    color: white;
    & > p {
        margin: 0px;
        padding: 0px;
    }
}
.contact {
    background: url(layout-01-assets/img14.jpg) center/cover no-repeat;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    & > p {
        background: #fffa;
        display: block;
        justify-self: center;
        padding: 1rem;
        width: 55vw;
        box-sizing: border-box;
    }
    & > div {
        width: 55vw;
        display: grid;
        grid-template: 20% 20% 20% 20% / repeat(10, 1fr);
        gap: 10px;
        & > :is(input, textarea) {
            border-radius: 5px;
            background-color: #fffa;
        }
        & > :is(button){
            border-radius: 5px;
            background-color: #222;
            color: white;
        }
        & > :nth-child(1) {
            grid-column: span 5;
        }
        & > :nth-child(2) {
            grid-column: span 5;
            grid-row-start: 2;
        }
        & > :nth-child(3) {
            grid-column: span 5;
            grid-row-start: 3;
        }
        & > textarea {
            grid-row: span 3;
            grid-column: span 5;
        }
        & > button {
            grid-area: 4 / 8 / 6 / 6;
        }
    }
}

.headline {
    display: flex;
    flex-flow: row wrap;
    min-height: 40vh;
    justify-content: center;
    align-content: center;
}
.headline > .small-column {
    background-color: rgb(225, 225, 225);
    width: 22vw;
    margin: 0.6rem;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.headline > .big-column {
    background-color: rgb(225, 225, 225);
    width: 33.7vw;
    margin: 0.6rem;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.headline > p {
    padding: 1em;
}
.columns {
    display: flex;
    flex-flow: row wrap;
    min-height: 40vh;
    justify-content: center;
    align-content: center;
}
.columns > .small-column-2 {
    background-color: rgb(225, 225, 225);
    width: 15.8vw;
    margin: 0.6rem;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.columns > .big-column-2 {
    background-color: rgb(225, 225, 225);
    width: 69vw;
    margin: 0.6rem;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}
section > article > :is(h4, p, a) {
    padding: 1rem;
}
.button {
    background-color: aqua;
    color: white;
    padding: 0.6rem;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
    /* display: flex; */
}
.green {
    background-color: green;
    max-width: 110px;
}
.detail {
    background-color: rgb(0, 161, 214);
    max-width: 90px;
}
.detail-2 {
    color: grey;
    background-color: white;
    border: 1px solid grey;
    justify-content: center;
    align-self: flex-end;
    margin-right: 3rem;
}
.red {
    background-color: darkred;
    max-width: 90px;
}
.read {
    color: grey;
    background-color: white;
    border: 1px solid grey;
    justify-content: center;
    align-self: flex-end;
    margin-right: 3rem;
}
.read-2 {
    color: grey;
    background-color: white;
    border: 1px solid grey;
    justify-content: center;
    align-self: flex-end;
    margin-right: 3rem;
}
.read-3 {
    color: grey;
    background-color: white;
    border: 1px solid grey;
    justify-content: center;
    align-self: flex-end;
    margin-right: 3rem;
}
